[submodule "vendor/onigmo"]
	path = vendor/onigmo
	url = git://github.com/carthy/beard.onigmo
[submodule "vendor/gmp"]
	path = vendor/gmp
	url = git://github.com/carthy/beard.gmp
[submodule "vendor/judy"]
	path = vendor/judy
	url = git://github.com/carthy/beard.judy
[submodule "vendor/tinytest"]
	path = vendor/tinytest
	url = git://github.com/carthy/beard.tinytest
[submodule "vendor/jemalloc"]
	path = vendor/jemalloc
	url = git://github.com/carthy/beard.jemalloc
[submodule "vendor/siphash"]
	path = vendor/siphash
	url = git://github.com/carthy/beard.siphash
